{% extends "layout.html" %}

{% block title %}
    Book
{% endblock %}
 {% block style %}
 <style media="screen">
       
		  
      
    .fa {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
}
#left { text-align: left; 
position: relative;}
#right { item-align: right; }
  </style>
        {% endblock %}

{% block body %}

    <h1>{{book.title}}</h1>

    <ul id="left" >
    
      <li>Author: {{book.author}}</li>
        <li>Year of publication: {{book.year}}</li>
		<li>Rating: {{book.av_rating}}</li>
        <li>goodreads rating: {{ avrg }}</li>

    </ul>

    {% if session['reviewed']==145 %}
       <h5>{{review}} and rating: {{rating}}</h5>
       {% endif %}

    {% if "reviewed" not in session %}
    {% if "username" in session %}

    <form action="{{ url_for('review')}}" method="post">

         <input type="hidden"  name="book_id" value={{book.id}}>
		 <input type="hidden"  name="book_isbn" value={{book.isbn}}>
        <input type="text" name="review" placeholder="Enter review Here">

        <button type="submit" name="rating[rating]" value="5">&#9733;</button>
        <button type="submit" name="rating[rating]" value="4">&#9733;</button>
        <button type="submit" name="rating[rating]" value="3">&#9733;</button>
        <button type="submit" name="rating[rating]" value="2">&#9733;</button>
        <button type="submit" name="rating[rating]" value="1">&#9733;</button>

    </form>


    {% endif %}
    {% endif %}
    {% if "reviews" in session %}
	<h5> Reviews </h5>
    <ul  id="left">
      {% for review in reviews %}
	  <li class="list-group-item list-group-item-action d-flex" style="font-size: 18px">
       {{review.review_username}}    &nbsp;
	   <i class="fa fa-pencil" aria-hidden="true"></i> <u>{{review.review}} </u><span id="right" class="badge badge-primary badge-pill">  {{review.rating}}</span>
		<br>
		</li>
      {% endfor %}
    </ul>


    {% endif %}



{% endblock %}
