{% extends "layout.html" %}

{% block title %}
    Best Books
{% endblock %}

{% block body %}
    <h1>Top Books</h1>

   <ul class="list-group">

   {% if books|length %}
   {% for book in books %}

    <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-left" style="font-size: 18px">
      <i class="fa fa-book" style="font-size: 25px">
      <a href="{{ url_for('book', book_id=book.id) }}">
           {{book.title}} 
       </a> </i>
  
   &nbsp;
   <span class="badge badge-primary badge-pill">  {{book.av_rating}}</span>
   </li>
   {% endfor %}


   {% else %}
      <h4>all books in goodreads</h4>
    {% endif %}
   </ul>



{% endblock %}
