


{% extends "layout.html" %}
{% block style %}
 <style>
 @media screen and (max-width: 800px){
 .formz  {
 
  width: 80%;
  
}
}
@media screen and (min-width: 800px){
 .formz  {
 
  width: 30%;
  
}
}
 </style>
  {% endblock %}
{% block title %}
    Register
{% endblock %}

{% block body %}
<div class="formz">
    <h1>Register</h1>

    {% from "_formhelpers.html" import render_field %}
    <form method=post>
      <dl>
        {{ render_field(form.name) }}
        {{ render_field(form.username) }}


        {% with usernames = get_flashed_messages(category_filter=["user"]) %}
{% if usernames %}
<div class="alert-message block-message error">
  <a class="close" href="#">×</a>
  <ul>
    {%- for msg in usernames %}
    <li>{{ msg }}</li>
    {% endfor -%}
  </ul>
</div>
{% endif %}
{% endwith %}


        {{ render_field(form.email) }}


        {% with emails = get_flashed_messages(category_filter=["email"]) %}
{% if emails %}
<div class="alert-message block-message error">
  <a class="close" href="#">×</a>
  <ul>
    {%- for msg in emails %}
    <li>{{ msg }}</li>
    {% endfor -%}
  </ul>
</div>
{% endif %}
{% endwith %}



        {{ render_field(form.password) }}
        {{ render_field(form.confirm) }}
        {{ render_field(form.accept_tos) }}
      </dl>
      <p><input class="btn btn-lg btn-primary btn-block" type=submit value=Register>
    </form>


</div>

{% endblock %}
